.form-title {
  margin: 16px;
}

.initation-list-box {
  height: calc(100vh - 130px);
}

// 列表卡片
.list-card-box {
  .list-card {
    box-sizing: border-box;
    height: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 32px 32px 0 32px;
    padding: 26px 32px;
  }

  .list-item-header {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    text {
      margin: 0 32px;
      width: 360px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status {
      color: #999;
      font-size: 30px;
      float: right;
      width: 100px;
    }
  }

  .list-item-content {
    margin-top: 16px;
    color: #666;
    font-size: 26px;
  }

  .list-item-footer {
    margin-top: 16px;
    color: #999;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
  }
}

.detail {
  padding: 32px;
  color: #333;
  font-size: 24px;
  line-height: 1.5;
}

// 详情头部面板
.detail-panel {
  padding: 26px 26px 26px 32px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #fff;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

// 详情卡片化内容
.detail-card {
  margin-bottom: 32px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
  padding: 30px 32px;
  color: rgba(51, 51, 51, 1);

  .title {
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    color: rgba(51, 51, 51, 1);

    .right-btn {
      color: #05f;
    }
  }

  .divider {
    margin: 20px 0;
    color: #f0f0f0;
  }

  .sum-count-row {
    font-size: 32px;
    color: rgba(51, 51, 51, 1);
    margin: 0;
  }
}

// 参与者信息
.participant-info {
  margin-bottom: 32px;

  .participant-header {
    display: flex;
    justify-content: space-between;
    color: #000;
    line-height: 1.5;
    margin-bottom: 16px;

    .user-info {
      display: flex;
      align-items: center;
      font-size: 36px;
      flex-shrink: 0;

      text {
        font-size: 28px;
        margin-left: 32px;
        font-weight: 600;
        max-width: 380px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 8px;
      }
    }

    .operate-btns {
      display: flex;

      .edit-btn {
        font-size: 30px;
        justify-content: flex-end;
        line-height: 100px;
        padding: 0 16px;
      }
    }
  }
}

// 参与者信息列表模式
.participant-info-table {
  .tr {
    background-color: #fff;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 64px;
    border-bottom: 2px solid rgba(248, 248, 250, 1);
    width: 700px;

    .th {
      width: 210px;
      color: #999;
      display: flex;
      align-items: center;
      padding-right: 10px;
    }

    .td {
      width: 210px;
      color: #333;
      background-color: #fff;
      align-items: center;
      padding-right: 10px;
    }

    .th:nth-child(2),
    .td:nth-child(2) {
      width: 100px;
    }

    .th:nth-child(3),
    .td:nth-child(3) {
      width: 150px;
    }

    .th:last-child,
    .td:last-child {
      width: 200px;
      padding-right: 0;
    }
  }
}

.finish-invitation {
  padding-bottom: 120px;

  .finish-form {
    margin: 0 0 32px 0;
    padding: 0 !important;
  }
}
