// 列表空数据
.empty-search {
  text-align: center;
  padding-top: 32px;
  color: #999999;
  font-size: 24px;

  image {
    margin: 0 auto;
    width: 280px;
    height: 280px;
    display: block;
    padding-bottom: 32px;
  }
}
